@model Webquanlysanpham.Models.DonViTinh

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DonViTinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDVT" class="control-label"></label>
                <input asp-for="MaDVT" class="form-control" />
                <span asp-validation-for="MaDVT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DVTinh" class="control-label"></label>
                <input asp-for="DVTinh" class="form-control" />
                <span asp-validation-for="DVTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="DonViTinh" asp-action="Index" class="btn btn-secondary" style="width:150px">Quay Lai</a>
</div>

