@model NhaCungCap
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Sua NhaCungCap</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="TenNCC"></label>
            <input asp-for=TenNCC class="form-control" />
            <span asp-validation-for="TenNCC" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DiaChi"></label>
            <input asp-for=DiaChi class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SoDienThoai"></label>
            <input asp-for=SoDienThoai class="form-control" />
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for=Email class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
  
        <button type="submit" class="btn btn-primary" style="width:150px">Sua NhaCungCap</button>
        <a asp-controller="NhaCungCap" asp-action="Index" class="btn btn-secondary" style="width:150px">Quay Lai</a>
    </div>
</form>